USE [master]
GO
/****** Object:  Database [Test]    Script Date: 10/14/2022 2:55:43 PM ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  User [sql]    Script Date: 10/14/2022 2:55:43 PM ******/
CREATE USER [sql] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 10/14/2022 2:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskID] [uniqueidentifier] NOT NULL,
	[TaskName] [varchar](max) NOT NULL,
	[TaskState] [bit] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Task] ([TaskID], [TaskName], [TaskState]) VALUES (N'9c493379-27aa-4707-9180-0329b6d9578e', N'Prueba', 1)
INSERT [dbo].[Task] ([TaskID], [TaskName], [TaskState]) VALUES (N'ba80a7d5-5f8f-4f6a-0489-08daae022776', N'Pruebas estidar', 1)
INSERT [dbo].[Task] ([TaskID], [TaskName], [TaskState]) VALUES (N'694ded82-a96e-469d-048a-08daae022776', N'editado', 1)
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_TaskID]  DEFAULT (newid()) FOR [TaskID]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_TaskState]  DEFAULT ((1)) FOR [TaskState]
GO
USE [master]
GO
